<header>
    <div class="container">
        <div class="row">
            <div class="six columns">
                <span class="icon-menu2 menu" id="sandwich"></span>
            </div>
            <div class="six columns right">
                <span id="weather"><span class="light">Low</span> 路 <b>{{weather.low}} F </b></span>
                <span class="light">High</span> 路 <b>{{weather.high}} F </b></a></span>
                <span class="light">Weather</span> 路 <b>{{weather.text}}</b></a></span>
                <span id="day">Wednesday, November 29 路 <b id="time">10:42:16</b> <span class="light" id="timePrefix">am</span></span>
            </div>
        </div>
    </div>
</header>
<div class="container">
            <div class="row" id="features">
                <div class="four columns feature" data-feature="search">
                    <div class="list-heading">Messages</div>
                    <div class="list-group">
                        {{#each message}}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">{{ this.[0] }}</h3>
                            <h5>From: {{this.[2]}}</h5>
                            <small class="text-muted">{{ this.[1] }}</small>
                          </div>
                        </a>
                      {{else}}
                      <div class="alert alert-danger" role="alert">
                    No new Emails!
                    </div>
                      {{/each}}
                    </div>
                    </ul>
                </div>
                <div class="four columns feature" data-feature="todo">
                    <div class="list-heading">Calender</div>
                    <ul id="todos">
                    </ul>
                </div>
                <div class="four columns feature" data-feature="news">
                    <ul id="news">
                        {{!-- <li class="heading">
                            News <span class="light" id="news-source"> via Tech Crunch</span>
                        </li> --}}
                        <div class="list-heading">News</div><span class="light" id="news-source"> via Tech Crunch</span>
                        {{#each articles}}
                        <li><a href={{this.[0]}}>{{this.[1]}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

</div>
<script src="http://localhost:3000/js/email.js"></script>